* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cont-form {
    display: flex;
    overflow: hidden;
}

.part {
    width: 100%;
}

.form-flex {
    display: flex;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
}

.form-flex .input-group {
    margin: 0px 5px 0px 5px;
}

.cont-sex {
    display: flex;
    text-align: center;
    align-items: center;
}

.cont-sex {
    font-size: 25px;
}

.cont-sex label {
    cursor: pointer;
}

.control-form {
    display: block;
    text-align: center;
}

.btn-controllers {
    display: flex;
    margin: auto;
    margin-bottom: 3px;
    width: 40%;
    justify-content: center;
    justify-items: center;
}

.c-mayusc {
    text-transform: uppercase;
}

.my-control {
    margin: auto;
}

@media (max-width:700px) {
    .form-flex {
        display: block;
    }
}